.pagination {
  display: flex;
  flex-wrap: wrap;
  max-width: 70vw;
  padding: 0 20px;
  margin-top: 10px;
  list-style: none;

  .page-item {
    &:not(:first-child) {
      margin-left: 4px;
    }
  }

  .page-link {
    display: inline-block;
    padding: 2px 4px;
    color: inherit;
    cursor: pointer;
  }
}