.content {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - max(66px, 8vh));
    padding: 0 clamp(20px, 5.3vw, 100px);
    align-items: center;
  }

  &__wrapper {
    padding: 30px 20px;
    background-image: linear-gradient(
      180deg,
      $primary-background-color 0%,
      $secondary-background-color 100%
    );
  }

  @include query('desktop') {
    &__container {
      height: calc(100vh - 140px);
      padding-left: 100px;

      &.success {
        justify-content: initial;
        padding-top: 129px;
      }
    }

    &__wrapper {
      padding: 0 40px;
      background: transparent;
    }
  }
}
