.app {
  position: relative;

  .container {
    position: absolute;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
  }

  .background {
    height: 100vh;
    background-color: #75daff;

    @media screen and (max-width: 480px) {
      background: url(/images/pineapple-bg-mobile.jpg) no-repeat center center;
      background-size: cover;
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
      background: url(/images/pineapple-bg-tablet.jpg) no-repeat center center;
      background-size: cover;
    }
    @media screen and (min-width: 769px) {
      background: url(/images/pineapple-bg-desktop.jpg) no-repeat center center;
      background-size: cover;
    }
  }

  @include query('desktop') {
    display: flex;

    .container {
      position: static;
      width: max(680px, 35%);
      padding-top: 100px;
      background-image: linear-gradient(
        180deg,
        $primary-background-color 0%,
        $secondary-background-color 100%
      );
    }

    .background {
      flex-grow: 1;
    }
  }
}
