.subscription {
  margin-top: 20px;

  &__title {
    font-family: $headers-font;
    @include font(24px, 34px);
    color: $secondary-text-color;
  }

  &__description {
    margin-top: 10px;
    @include font(14px, 26px);
  }

  &__container {
    padding-bottom: 20px;
    border-bottom: 1px solid $secondary-accent-color;

    &.success {
      padding-bottom: 39px;
    }
  }

  &__success-icon {
    margin-bottom: 39px;
  }

  .input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;

    .input {
      width: 100%;
      height: 60px;
      padding-left: clamp(19px, 6%, 44px);
      @include font(16px, 24px);
      border: 1px solid $secondary-accent-color;

      &:hover {
        border-color: $accent-color;

        & + .input__button .icon i {
          color: $accent-color;
        }
      }
    }

    .input__button {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding-right: clamp(23px, 7%, 28px);
      color: inherit;
      background-color: transparent;
      border: none;

      .icon i {
        font-size: 28px;
      }

      &:hover:enabled {
        cursor: pointer;
        .icon i {
          color: $accent-color;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 4px;
      height: 100%;
      background-color: $accent-color;
    }
  }

  .agreement-wrapper {
    margin-top: 20px;
    @include font(16px, 28px);

    .agreement {
      &__checkbox {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        margin: 0 15px -7px 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: 1px solid $secondary-accent-color;
        border-radius: 3px;
        box-shadow: none;

        &:checked {
          background: $accent-color;
          color: $primary-background-color;
          border-color: $secondary-accent-color;
        }

        &:checked::after {
          font-family: 'IcoFont';
          content: '\eed6';
        }
      }

      &__link {
        color: $secondary-text-color;
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  .error-message {
    position: absolute;
    bottom: -14px;
    left: 12px;
    font-size: 0.7em;
    color: #ff0000;
  }

  @include query('desktop') {
    margin-top: 50px;

    &__container,
    &__container.success {
      padding-bottom: 50px;
    }

    &__title {
      @include font(32px, 44px);
    }

    &__description {
      margin-top: 15px;
      @include font(16px, 28px);
    }

    &__success-icon {
      margin-bottom: 30px;
    }

    .input-wrapper {
      width: 159%;
      right: 40px;

      .input {
        height: 70px;
        @include font(16px, 24px);
      }
    }

    .agreement-wrapper {
      margin-top: 53px;

      .agreement {
        &__link {
          @include font(16px, 28px);
        }
      }
    }

    .error-message {
      bottom: -24px;
      left: 40px;
      font-size: 0.8em;
    }
  }
}
