$main-font: 'Arial', sans-serif;
$headers-font: 'Georgia', sans-serif;

$accent-color: #4066a5;
$secondary-accent-color: #e3e3e4;
$main-text-color: #6a707b;
$secondary-text-color: #131821;
$primary-background-color: #ffffff;
$secondary-background-color: #f2f5fa;

$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1280px,
);
